@model vnexchange1.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ItemId" />
        <div class="form-group">
            <label asp-for="ItemTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemTitle" class="form-control" />
                <span asp-validation-for="ItemTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemCategory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemCategory" class="form-control" />
                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemOwner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemOwner" class="form-control" />
                <span asp-validation-for="ItemOwner" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemDate" class="form-control" />
                <span asp-validation-for="ItemDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemManufacturer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemManufacturer" class="form-control" />
                <span asp-validation-for="ItemManufacturer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ItemType" />
                    <label asp-for="ItemType"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="CanExchange" />
                    <label asp-for="CanExchange"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="CanGiveAway" />
                    <label asp-for="CanGiveAway"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="CanTrade" />
                    <label asp-for="CanTrade"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
